{% extends "base.html" %}

{% block title %}
    <h1>Katakana</h1>
    <h2>カタカナ</h2>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <br>
    <h2>Katakana</h2>

    <p>
      Here you can learn Katakana!
    </p>

    <p>
      What is Katakana? <br> <!-- br breaks to a new line -->
	<ul> <!-- creates an unordered list -->
          <li> In Japanese, there are 3 kinds of characters: Hiragana, Katakana, and Kanji. Both Hiragana and Katakana represent different sounds, but are used differently. </li>
	  <li> Katakana is used for loanwords and foreign names. </li>
    </p>

<!-- Katakana Table -->
<style>
  .custom-table {
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text color */
  }

  .custom-table td {
    background-color: #ffe6f3; /* Hot pink background for table headers */
    font-size: 1.6rem;
  }

  .custom-table tbody td:hover {
    background-color: #ffcce6; /* Light pink background on hover */
  }
  .table {
    border: 2px solid #333; /* Darker border for table */
  }

  .table th, .table td {
    border: 1px solid #333; /* Darker border for table cells */
  }
</style>


<table class="table custom-table table-striped table-bordered">
  <tbody>
    <tr>
      <td class="text-center">
	ア
	<br>
	<small>a</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	イ
	<br>
	<small>i</small>
      </td>
      <td class="text-center">
	ウ
	<br>
	<small>u</small>
            </td>
      <td class="text-center">
	エ
	<br>
	<small>e</small>
            </td>
      <td class="text-center">
	オ
	<br>
	<small>o</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	カ
	<br>
	<small>ka</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	キ
	<br>
	<small>ki</small>
      </td>
      <td class="text-center">
	ク
	<br>
	<small>ku</small>
            </td>
      <td class="text-center">
	ケ
	<br>
	<small>ke</small>
            </td>
      <td class="text-center">
	コ
	<br>
	<small>ko</small>
             </td>
    </tr>
　　<tr>
      <td class="text-center">
	サ
	<br>
	<small>sa</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	シ
	<br>
	<small>shi</small>
      </td>
      <td class="text-center">
	ス
	<br>
	<small>su</small>
            </td>
      <td class="text-center">
	セ
	<br>
	<small>se</small>
            </td>
      <td class="text-center">
	ソ
	<br>
	<small>so</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	タ
	<br>
	<small>ta</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	チ
	<br>
	<small>chi</small>
      </td>
      <td class="text-center">
	ツ
	<br>
	<small>tsu</small>
            </td>
      <td class="text-center">
	テ
	<br>
	<small>te</small>
            </td>
      <td class="text-center">
	ト
	<br>
	<small>to</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ナ
	<br>
	<small>na</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	二
	<br>
	<small>ni</small>
      </td>
      <td class="text-center">
	ヌ
	<br>
	<small>nu</small>
            </td>
      <td class="text-center">
	ネ
	<br>
	<small>ne</small>
            </td>
      <td class="text-center">
	ノ
	<br>
	<small>no</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ハ
	<br>
	<small>ha</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	ヒ
	<br>
	<small>hi</small>
      </td>
      <td class="text-center">
	フ
	<br>
	<small>fu</small>
            </td>
      <td class="text-center">
	ヘ
	<br>
	<small>he</small>
            </td>
      <td class="text-center">
	ホ
	<br>
	<small>ho</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	マ
	<br>
	<small>ma</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	ミ
	<br>
	<small>mi</small>
      </td>
      <td class="text-center">
	ム
	<br>
	<small>mu</small>
            </td>
      <td class="text-center">
	メ
	<br>
	<small>me</small>
            </td>
      <td class="text-center">
	モ
	<br>
	<small>mo</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ヤ
	<br>
	<small>ya</small>
      </td> <!-- these are rows -->
      <td class="text-center">

	<br>
	<small></small>
      </td>
      <td class="text-center">
	ユ
	<br>
	<small>yu</small>
            </td>
      <td class="text-center">
	
	<br>
	<small></small>
            </td>
      <td class="text-center">
	ヨ
	<br>
	<small>yo</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ラ
	<br>
	<small>ra</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	リ
	<br>
	<small>ri</small>
      </td>
      <td class="text-center">
	ル
	<br>
	<small>ru</small>
            </td>
      <td class="text-center">
	レ
	<br>
	<small>re</small>
            </td>
      <td class="text-center">
	ロ
	<br>
	<small>ro</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ワ
	<br>
	<small>wa</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	
	<br>
	<small></small>
      </td>
      <td class="text-center">
	
	<br>
	<small></small>
            </td>
      <td class="text-center">
	
	<br>
	<small></small>
            </td>
      <td class="text-center">
	ヲ
	<br>
	<small>wo</small>
             </td>
    </tr>
    <tr>
      <td class="text-center">
	ン
	<br>
	<small>n</small>
      </td> <!-- these are rows -->
      <td class="text-center">
	
	<br>
	<small></small>
      </td>
      <td class="text-center">
	
	<br>
	<small></small>
            </td>
      <td class="text-center">
	
	<br>
	<small></small>
            </td>
      <td class="text-center">
	
	<br>
	<small></small>
             </td>
    </tr>
  </tbody>
</table>
{% endblock %}
